
<section id="about">
<div class="main-container">
    <div class="about-section" id="about">
      <div class="image-container">
        <img src="assets/aboutme.jpg" alt="aboutme">
      </div>
      <div class="text-container">
        <h1 class="title">About Me</h1>
        <p class="subtitle">Software Engineer based in Tunis, Tunisia 📍</p>
        <p class="description">
          Hi, I'm Hassen, a Software Engineer with a passion for crafting seamless and impactful solutions that truly benefit users.
          <br><br>
          I love turning complex problems into simple, user-friendly solutions and always aim to deliver my best in every project I work on.        </p>
      </div>
    </div>
  </div>
</section>