<section id="about">
  <div class="main-container">
    <div class="title">About me</div>
    <div class="about-section">
      <div class="image-container">
        <img
          src="../../assets/hand-coding-animate.svg"
          alt="Hand Coding Animation"
          class="svg-image"
        />
      </div>
      <div class="text-container">
        <p class="description">
          I am a Software Engineer proficient in programming languages such as
          Java and C#, specializing in Full Stack development (Spring Boot &
          Angular).
          <br /><br />
          I love turning complex problems into
          <span class="bold">simple , user-friendly</span> solutions and always
          aim to deliver my best in every project I work on.
        </p>
      </div>
    </div>
  </div>
</section>
