
<section id="about">
<div class="main-container">
    <div class="about-section" id="about">
      <div class="image-container">
        <img src="assets/aboutme.jpg" alt="aboutme">
      </div>
      <div class="text-container">
        <h1 class="title">About Me</h1>
        <p class="subtitle">Full Stack Developer based in Tunis, Tunisia 📍</p>
        <p class="description">
          Hey, my name is Hassen, and I'm a Full Stack Developer. My passion is to create smooth and effective solutions that have a meaningful impact on users.
          <br><br>
          I love turning complex problems into simple, user-friendly solutions and always aim to deliver my best in every project I work on.        </p>
      </div>
    </div>
  </div>
</section>