<section id="contact">
  <div class="main-container">
    <div class="contact-section">
      <div class="title">Contact</div>

      <p class="text">Let’s build something amazing together!</p>

      <div class="icons-container">
        <a
          href="https://www.linkedin.com/in/hassenbenadel"
          target="_blank"
          class="contact-icon"
        >
          <img src="assets/linkedin-contact.png" alt="LinkedIn Logo" />
        </a>
        <a
          href="https://github.com/MohamedHassenBenadel"
          target="_blank"
          class="contact-icon"
        >
          <img src="assets/github-contact.png" alt="GitHub Logo" />
        </a>
      </div>

      <p class="email">
        <i class="fas fa-envelope email-icon"></i>
        <a href="mailto:mohamedhassenbenadel&#64;gmail.com">
          mohamedhassenbenadel&#64;gmail.com
        </a>
      </p>
    </div>
  </div>
</section>
