<section id="contact">
<div class="main-container">
    <div class="contact-section">
      <div class="title">Contact</div>
      <div class="contact-info">
        <a href="https://www.linkedin.com/in/hassenbenadel" class="contact-link" target="_blank">
          <i class="fab fa-linkedin"></i> Hassen Benadel
        </a>
        <a href="mailto:mohamedhassenbenadel&#64;gmail.com" class="contact-link">
          <i class="fas fa-envelope"></i> mohamedhassenbenadel&#64;gmail.com
        </a>
      </div>
    </div>
  </div>
</section>