<section id="experience">
  <div class="main-container">
    <div class="title">Experience</div>
    <div class="experience-container">
      <div class="timeline"></div>
      <div class="experience-content">
        <div class="experience-card">
          <div class="point"></div>
          <h3>Full Stack Developer (Freelance)</h3>
          <div class="company-and-date">
            <span class="company">Italian Dream </span>
            <span class="date">Sep 2024 - Nov 2024</span>
          </div>
          <ul>
            <li>
              Built a website for an agency, improving user interaction and
              promoting the agency’s services effectively.
            </li>
            <li>
              Created a client portal for document and payment tracking,
              enhancing operational efficiency for users.
            </li>
          </ul>
        </div>

        <div class="experience-card">
          <div class="point"></div>
          <h3>Software Engineering Intern</h3>
          <div class="company-and-date">
            <span class="company">Telnet Holding</span>
            <span class="date">Feb 2024 - Aug 2024</span>
          </div>
          <ul>
            <li>
              Developed a real-time web app for system visualization and remote
              control, improving system management.
            </li>
            <li>
              Improved disease detection with live streaming from an embedded
              camera for real-time crop management insights.
            </li>
            <li>
              Built an embedded system to provide 24/7 real-time data, enhancing
              accuracy and plant care efficiency.
            </li>
            <li>
              Improved firmware updates using OTA technology, reducing downtime
              by 60% for efficient remote operations.
            </li>
          </ul>
        </div>

        <div class="experience-card">
          <div class="point"></div>
          <h3>Software Engineer Intern</h3>
          <div class="company-and-date">
            <span class="company">Badiaa</span>
            <span class="date">Jul 2023 - Sep 2023</span>
          </div>
          <ul>
            <li>
              Created an order placement feature, simplifying purchasing and
              improving user experience.
            </li>
            <li>
              Built a desktop application for inventory management, improving
              stock tracking and simplifying operations.
            </li>
          </ul>
        </div>

        <div class="experience-card">
          <div class="point"></div>
          <h3>Full Stack Developer Intern</h3>
          <div class="company-and-date">
            <span class="company">Sagemcom</span>
            <span class="date">Feb 2021 - Jun 2021</span>
          </div>
          <ul>
            <li>
              Developed a shipment management web application, integrating SAP
              ME with SOAP microservices to enhance logistics processes and data
              synchronization.
            </li>
            <li>
              Integrated user authentication with Active Directory, enhancing
              security and simplifying access management.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
