/* Main container styling */
.page-wrapper {
  background-color: #fff; /* Light background color */
  display: flex;
  justify-content: center; /* Center content horizontally */
}

/* Projects section styling */
.project-overview {
  font-family: 'Poppins', sans-serif;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  max-width: 60rem;
}

/* Title styling */
.section-title {
  font-weight: bold;
  color: #147efb;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

/* Content styling */
.project-content {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Image container styling */
.image-box {
  width: 480px;
  height: 231px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

/* Image styling */
.image-box img {
  width: 100%;
  height: 115%;
  object-fit: contain;
}

/* Description styling */
.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 1.3rem;
  margin-top: -5px;
}

.project-description p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Tools section styling */
.tech-stack {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Tool badge styling */
.tech-badge {
  background-color: #d7e8fb;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  font-weight: bold;
}

/* Links container styling */
.link-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* Link styling for demo-link */
.github-link,
.demo-link {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 1rem;
}

.github-link i,
.demo-link i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.github-link:hover,
.demo-link:hover {
  color: #000;
}

.github-link:active,
.demo-link:active {
  color: #000;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
}

.modal-content {
  position: relative;
  margin: 5% auto;
  padding: 0;
  width: 90%; /* Default width */
  max-width: 800px; /* Maximum width */
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* More width on small screens */
    max-width: none; /* Remove the max-width constraint */
    margin: auto; /* Center horizontally */
    position: absolute; /* Positioning for vertical centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
  }
}

/* Adjust modal content for very small screens */
@media (max-width: 480px) {
  .modal-content {
    width: 95%; /* Even more width on very small screens */
    margin: auto; /* Center horizontally */
    position: absolute; /* Positioning for vertical centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
  }
}

/* Adjust modal content for extra small screens */
@media (max-width: 320px) {
  .modal-content {
    width: 100%; /* Full width on extra small screens */
    max-width: none; /* Remove the max-width constraint */
    margin: auto; /* Center horizontally */
    position: absolute; /* Positioning for vertical centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to center */
  }
}


.modal-slides {
  position: relative;
}

.modal-slide {
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: auto; /* Auto height */
}

/* Navigation buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive design for modal navigation buttons */
@media (max-width: 768px) {
  .prev, .next {
    padding: 12px;
    font-size: 16px;
  }

  .close {
    top: 10px;
    right: 20px;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .prev, .next {
    padding: 10px;
    font-size: 14px;
  }

  .close {
    top: 8px;
    right: 15px;
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .prev, .next {
    padding: 8px;
    font-size: 12px;
  }

  .close {
    top: 5px;
    right: 10px;
    font-size: 24px;
  }
}

/* Responsive image container */
@media (max-width: 1200px) {
  .image-container {
    width: 400px; /* Reduced width for medium screens */
    height: 200px; /* Adjusted height */
  }
}

@media (max-width: 992px) {
  .image-container {
    width: 300px; /* Further reduced width */
    height: 150px; /* Adjusted height */
  }
}

@media (max-width: 768px) {
  .image-container {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Adjust height automatically */
  }
}