<section id="projects">
  <div class="main-container">
    <div class="projects-section">
      <div class="title">Projects</div>

      <!-- First Project -->
      <div class="content">
        <div class="image-container">
          <img src="assets/Visualisation.PNG" alt="Project Image" (click)="openModal()">
        </div>
        <div class="description">
          <h2>Smart Agriculture System</h2>
          <p>This project enables users to monitor agricultural parameters in real-time, control actuators, and analyze plant health using computer vision.</p>
          <div class="tools">
            <span class="tool">Angular</span>
            <span class="tool">Spring Boot</span>
            <span class="tool">IoT</span>
            <span class="tool">ESP32</span>
            <span class="tool">Raspberry Pi</span>
          </div>
          <div class="links-container">
            <a href="#" class="demo-link">
              <i class="fas fa-images"></i> Gallery
            </a>
          </div>
        </div>
      </div>
      <br><br>
      <!-- Second Project 
      <div class="content">
        <div class="image-container">
          <img src="assets/NodeRed.PNG" alt="Another Project Image" (click)="openModal()">
        </div>
        <div class="description">
          <h2>Another Project</h2>
          <p>This project focuses on another innovative technology and provides users with unique features.</p>
          <div class="tools">
            <span class="tool">Technology1</span>
            <span class="tool">Technology2</span>
            <span class="tool">Technology3</span>
          </div>
          <div class="links-container">
            <a href="https://github.com/another-repo" class="github-link" target="_blank">
              <i class="fab fa-github"></i> Go to code
            </a>
            <a href="" class="demo-lik">
              <i class="fas fa-play"></i> Demo
            </a>
          </div>
        </div>
      </div>

    -->

    </div>
  </div>

  <!-- Modal Structure -->
  <div id="imageModal" class="modal">
    <span id="modalClose" class="close">&times;</span>
    <div class="modal-content">
      <div class="modal-slides">
        <img class="modal-slide" src="assets/Demo.png" alt="Image 1">
        <img class="modal-slide" src="assets/login.png" alt="Image 2">
        <img class="modal-slide" src="assets/inscri.png" alt="Image 3">
        <img class="modal-slide" src="assets/realtime.png" alt="Image 4">
        <img class="modal-slide" src="assets/recom.png" alt="Image 5">
        <img class="modal-slide" src="assets/diagr.png" alt="Image 6">
        <img class="modal-slide" src="assets/capteurs.png" alt="Image 7">
        <img class="modal-slide" src="assets/controlleurs.png" alt="Image 8">
        <img class="modal-slide" src="assets/camera.png" alt="Image 9">
        <img class="modal-slide" src="assets/detection.png" alt="Image 10">
      </div>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</section>
