<section id="skills">
  <div class="main-container">
    <div class="skills-section">
      <h1 class="skills-header">Skills</h1>

      <div class="skill-category">
        <div class="skill-header">
          <h2>Programming Languages</h2>
        </div>
        <div class="icon-list">
          <div class="icon-item">
            <img src="assets/Java.png" alt="Java Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/Python.png" alt="Python Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/JS.png" alt="JavaScript Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/TS.png" alt="TypeScript Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/Csharp.png" alt="C# Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/Cplusplus.png" alt="C++ Icon" />
          </div>
        </div>
      </div>

      <div class="skill-category">
        <div class="skill-header">
          <h2>Frontend</h2>
        </div>
        <div class="icon-list">
          <div class="icon-item">
            <img src="assets/angular.png" alt="Angular Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/html-5.png" alt="HTML5 Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/css-3.png" alt="CSS3 Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/bootstrap.png" alt="Bootstrap Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/JS.png" alt="JavaScript Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/TS.png" alt="TypeScript Icon" />
          </div>
        </div>
      </div>

      <div class="skill-category">
        <div class="skill-header">
          <h2>Backend</h2>
        </div>
        <div class="icon-list">
          <div class="icon-item">
            <img src="assets/springboot.png" alt="Spring Boot Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/TS.png" alt="TypeScript Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/nodejs.png" alt="Node.js Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/NET.png" alt=".NET Icon" />
          </div>
        </div>
      </div>

      <div class="skill-category">
        <div class="skill-header">
          <h2>Database</h2>
        </div>

        <div class="icon-list">
          <div class="icon-item">
            <img src="assets/Oracle.png" alt="Oracle Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/MySQL.png" alt="MySQL Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/PostgresSQL.png" alt="PostgresSQL Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/MongoDB.png" alt="MongoDb Icon" />
          </div>
        </div>
      </div>

      <div class="skill-category">
        <div class="skill-header">
          <h2>Tools</h2>
        </div>

        <div class="icon-list">
          <div class="icon-item">
            <img src="assets/github.png" alt="GitHub Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/postman.png" alt="Postman Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/jenkins.png" alt="Jenkins Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/JUnit.png" alt="JUnit Icon" />
          </div>
          <div class="icon-item">
            <img src="assets/SonarQube.png" alt="SonarQube Icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
