<section id="skills">
  <div class="main-container">

    <div class="skills-section">


      <h1 class="skills-header">Skills</h1>

      <!-- Frontend Skills -->
      <div class="skill-category">
        <h2>Programming Languages</h2>
        <div class="tech-badge-container">
          <div class="tech-badge-line">
            <div class="tech-badge">
              <img src="assets/Java.png" alt="Java Icon">
              <span>Java</span>
            </div>
            <div class="tech-badge">
              <img src="assets/Python.png" alt="Python Icon">
              <span>Python</span>
            </div>

            <div class="tech-badge">
              <img src="assets/JS.png" alt="JS   Icon">
              <span>JavaScript</span>
            </div>

            <div class="tech-badge">
              <img src="assets/TS.png" alt="TypeScript Icon">
              <span>TypeScript</span>
            </div>


            <div class="tech-badge">
              <img src="assets/Csharp.png" alt="C Sharp Icon">
              <span>C#</span>
            </div>

            <div class="tech-badge">
              <img src="assets/Cplusplus.png" alt="C Sharp Icon">
              <span>C++</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Frontend Skills -->
      <div class="skill-category">
        <h2>Frontend</h2>
        <div class="tech-badge-container">
          <div class="tech-badge-line">
            <div class="tech-badge">
              <img src="assets/angular.png" alt="Angular Icon">
              <span>Angular</span>
            </div>
            <div class="tech-badge">
              <img src="assets/html-5.png" alt="HTML5 Icon">
              <span>HTML</span>
            </div>
            <div class="tech-badge">
              <img src="assets/css-3.png" alt="CSS3 Icon">
              <span>CSS</span>
            </div>
            <div class="tech-badge">
              <img src="assets/bootstrap.png" alt="Bootstrap Icon">
              <span>Bootstrap</span>
            </div>
            <div class="tech-badge">
              <img src="assets/JS.png" alt="JavaScript Icon">
              <span>JavaScript</span>
            </div>

            <div class="tech-badge">
              <img src="assets/TS.png" alt="TypeScript Icon">
              <span>TypeScript</span>
            </div>

          </div>
        </div>
      </div>

      <!-- Back-End Skills -->
      <div class="skill-category">
        <h2>Backend</h2>
        <div class="tech-badge-container">
          <div class="tech-badge-line">
            <div class="tech-badge">
              <img src="assets/springboot.png" alt="Spring Boot Icon">
              <span>Spring Boot</span>
            </div>
            <div class="tech-badge">
              <img src="assets/TS.png" alt="TypeScript Icon">
              <span>TypeScript</span>
            </div>
            <div class="tech-badge">
              <img src="assets/nodejs.png" alt="Node.js Icon">
              <span>Node.js</span>
            </div>

            <div class="tech-badge">
              <img src="assets/NET.png" alt="Node.js Icon">
              <span>.Net</span>
            </div>

          </div>
        </div>
      </div>



      <!-- Database Skills -->
      <div class="skill-category">
        <h2>Database</h2>
        <div class="tech-badge-container">
          <div class="tech-badge-line">
            <div class="tech-badge">
              <img src="assets/Oracle.png" alt="Oracle Icon">
              <span>Oracle</span>
            </div>
            <div class="tech-badge">
              <img src="assets/MySQL.png" alt="MySQL Icon">
              <span>MySQL</span>
            </div>
            <div class="tech-badge">
              <img src="assets/PostgresSQL.png" alt="PostgresSQL Icon">
              <span>Postgres</span>
            </div>

            <div class="tech-badge">
              <img src="assets/MongoDB.png" alt="MongoDb Icon">
              <span>MongoDb</span>
            </div>

          </div>
        </div>
      </div>








      <!-- Tools -->
      <div class="skill-category">
        <h2>Tools</h2>
        <div class="tech-badge-container">
          <div class="tech-badge-line">
            <div class="tech-badge">
              <img src="assets/github.png" alt="GitHub Icon">
              <span>GitHub</span>
            </div>
            <div class="tech-badge">
              <img src="assets/postman.png" alt="Postman Icon">
              <span>Postman</span>
            </div>
            <div class="tech-badge">
              <img src="assets/jenkins.png" alt="Jenkins Icon">
              <span>Jenkins</span>
            </div>

            <div class="tech-badge">
              <img src="assets/JUnit.png" alt="Junit Icon">
              <span>JUnit</span>
            </div>

            <div class="tech-badge">
              <img src="assets/SonarQube.png" alt="SonarQube Icon">
              <span>SonarQube</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
