<section id="skills">
<div class="main-container">
    <div class="skills-section">
        <!-- First Card -->
        <div class="card">
            <div class="card-header">
                <h2>Front-End</h2>
                <i class="icon fas fa-laptop-code"></i> 
            </div>
            <div class="card-body">
                <div class="tech-icons">
                    <img src="assets/angular.png" alt="Angular Icon" class="tech-icon">
                    <img src="assets/html-5.png" alt="HTML5 Icon" class="tech-icon">
                    <img src="assets/css-3.png" alt="CSS3 Icon" class="tech-icon">
                    <img src="assets/bootstrap.png" alt="Bootstrap Icon" class="tech-icon">
                </div>
            </div>
        </div>
    
        <!-- Second Card -->
        <div class="card back-end-card">
            <div class="card-header">
                <h2>Back-End</h2>
                <i class="icon fas fa-database"></i> 
            </div>
            <div class="card-body">
                <div class="tech-icons">
                    <img src="assets/springboot.png" alt="Spring Boot Icon" class="tech-icon">
                    <img src="assets/TS.png" alt="Typescript" class="tech-icon">
                    <img src="assets/JS.png" alt="Javascript" class="tech-icon">
                    <div class="spacer"></div>

                    <img src="assets/nodejs.png" alt="Node Js Icon" class="tech-icon">

                </div>
            </div>
        </div>
    </div>
</div>
</section>