/* Container for the main content */
.main-container {
    background-color: #f8f9fa; /* Light background color for the page */
    padding: 1.5rem; /* Padding around the page */
    display: flex; /* Use flexbox to lay out the sections */
    flex-wrap: wrap; /* Allow wrapping of sections */
    justify-content: center; /* Center content horizontally */
  }
  
  /* Individual skills section styling */
  .skills-section {
    font-family: 'Poppins', sans-serif; /* Font family for the section */
    margin: 0.5rem; /* Margin around each section */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
  }
  
  /* Card styling */
  .card {
    background-color: #fff; /* Card background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Card shadow */
    padding: 3rem; /* Padding inside the card */
    max-width: 300px; 
    min-height: 320px; /* Minimum height for the card */
    margin: 1rem; /* Margin around the card */
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Column direction for header and body */
    align-items: center; /* Center items horizontally */
  }
    
  /* Header styling */
  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;    
    margin-top: -1.5rem;

  }
  
  .card-header h2 {
    font-family: 'Poppins', sans-serif; /* Font for the header */
    font-size: 1.5rem; /* Font size for the header */
    color: #2d2e32; /* Text color */
    margin: -0.5rem;
  }
  
  .card-header .icon {
    font-size: 3rem; /* Adjust icon size */
    color: #007bff; /* Icon color */
    margin-top: 0.5rem;
  }
  
  /* Body styling */
  .card-body {
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center content horizontally */
  }
  
  .tech-icons {
    display: flex; /* Flexbox for icons */
    flex-direction: column; /* Stack icons vertically */
    gap: 1rem; /* Space between icons */
    width: 3rem; /* Set icon size */
    height: 3rem; /* Set icon size */  
  }
  
  .tech-icons i {
    width: 3rem; /* Set icon size */
    height: 3rem; /* Set icon size */  
    font-size: 2rem; /* Icon size */
    color: #2d2e32; /* Icon color */
  }
  .spacer {
    height: 5px; /* Creates vertical space */
}
/* Media query for responsive text size */
@media (max-width: 768px) { /* Adjust the max-width as needed */
  .card-header h2 {
    font-size: 1.2rem; /* Smaller font size for the header text on smaller screens */
  }
  
  .card-header .icon {
    font-size: 2.5rem; /* Adjust icon size for smaller screens */
  }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) { /* Adjust the max-width as needed */
  .card-header h2 {
    font-size: 1rem; /* Even smaller font size for very small screens */
  }
  
  .card-header .icon {
    font-size: 2rem; /* Further adjustment to icon size */
  }
}
