/* Main container styling */
.main-container {
  background-color: #f8f9fa;
  padding: 1.5rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Skills section */
.skills-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1600px;
  margin: 0;
}

/* Skill category titles */
.skill-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align each skill category to the left */
  text-align: left; /* Align text within skill category to the left */
}

.skills-header {
  font-size: 30px;
  color: #147efb;
  font-weight: bold; /* Bold for emphasis */
  text-align: center; /* Center-aligns header */
  margin-bottom: -30px;
}


/* Skill category titles */
.skill-category h2 {
  font-size: 1.5rem;
  color: #2d2e32;
}

/* Container for tech badges with centered alignment */
.tech-badge-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align tech badges to the left */
}

/* Tech badge line to maintain spacing */
.tech-badge-line {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Adjust the gap between badges */
  justify-content: flex-start; /* Start new line from left */
}

/* Tech badge styling */
.tech-badge {
  display: inline-flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding-left: 0.5rem;
  width: 175px;
  height: 50px;
  font-weight: bold;
  color: #2d2e32;
  box-sizing: border-box;
}

/* Aligning icon and text */
.tech-badge img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.tech-badge span {
  text-align: left;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .skills-section {
    align-items: center; /* Left-align on smaller screens as well */
  }
  .skill-category h2 {
    text-align: flex-start; /* Center-align titles on smaller screens */
    width: 100%; /* Make title take full width for centering */
  }

  /* Skills section */
.skills-section {
  max-width: auto;

  padding-left: 0;
  margin: 0 auto;
}


}
