<section id="home">
  <div class="main-container">
    <div class="home-section" id="home">
      <div class="text-container">
        <p class="subtitle">
          Hi, I am <span class="name">Mohamed Hassen Benadel</span>, a Software
          Engineer and I am based in Tunisia.
        </p>

        <a
          href="../../assets/pdf/MohamedHassen_Benadel_CV.pdf"
          target="_blank"
          class="cv-download-button"
        >
          Get My CV
        </a>
      </div>
      <div class="image-container">
        <img src="assets/hsn1.jpg" alt="Hassen Benadel" />
      </div>
    </div>
  </div>
</section>
