<section id="home">
  <div class="main-container">
    <div class="home-section" id="home">
      <div class="text-container">
        <h1 class="title">Software Engineer</h1>
        <p class="subtitle">Hi, I'm Hassen Benadel. A passionate developer with expertise in web, desktop applications, and embedded systems.</p>
        
        <!-- Open CV in New Window Button -->
        <a href="assets/pdf/MohamedHassenBenadelCV.pdf" target="_blank" class="cv-download-button">
          Get My CV
        </a>
      </div>
      <div class="image-container">
        <img src="assets/hsn1.jpg" alt="Hassen Benadel">
      </div>
    </div>
  </div>
</section>
